<!DOCTYPE html> 
<html> 
<head> 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="employersCtrl.js"></script> 

<!-- Latest compiled and minified CSS --> <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" 
crossorigin="anonymous"> 

<!-- Optional theme --> 
<link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" 
integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" 
crossorigin="anonymous">

</head> <body> <div ng-app="glassdoor" ng-controller="employersCtrl">
  <p>Enter in Glassdoor Partner ID and Key:</p>
  <form class='form-horizontal'>
  <div class='form-group'><label class='col-sm-2 control-label'>Partner 
ID</label>
  <div class='col-sm-8'><input type="text" ng-model="partnerId" 
class='form-control'></div></div>
  <div class='form-group'><label class='col-sm-2 
control-label'>Key</label>
  <div class='col-sm-8'><input type="text" ng-model="partnerKey" class='form-control'></div></div>
  
  <div class='form-group'><label class='col-sm-2 control-label'>Location</label>
  <div class='col-sm-8'><input type="text" ng-model="location" 
class='form-control'></div></div>
  
  <button ng-click="submit()" class='btn btn-default'>Submit</button>
  </form>
  <table class='table table-bordered'>
    <tr ng-repeat="x in companies">
      <td>{{x.name}}</td>
      <td>{{x.overallRating}}</td>
    </tr>
  </table>
  <a href="{{url}}">{{url}}</a> </div> 

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript --> <script 
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" 
integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" 
crossorigin="anonymous"></script> 

</body> </html>
